/* styles.css */

.start-button {
    -fx-background-color: #4CAF50; /* Green background color */
    -fx-text-fill: white;          /* White text color */
    -fx-font-size: 20px;           /* Font size */
    -fx-pref-width: 200px;         /* Preferred width */
    -fx-pref-height: 50px;
}

.vbox {
    -fx-alignment: center; /* Center align items within the VBox */
    -fx-padding: 150 0 0 0;
}